* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

main {
  margin: 50px auto 0 auto;
  width: 27rem;
  background-color: hsl(255, 100%, 100%);
  border-radius: 16px;
  box-shadow: 2px 2px 18px hsl(223, 12%, 76%);
}

.description-content > img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.description-content :is(h2, p) {
  margin: 24px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.description-content > p {
  text-align: center;
  color: hsl(220, 9%, 37%);
}

.description-content > h2 {
  font-weight: 900;
  color: hsl(220, 9%, 37%);
}

.plan-choice {
  margin: 20px auto 0 auto;
  width: 85%;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 8px;
  background-color: hsl(224, 100%, 97%);
}

.plan-choice > img {
  padding: 12px;
}

.plan-choice-paragraph > p {
  color: hsl(220, 9%, 37%);
}

.plan-choice-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 8px;
}

.plan-choice-paragraph > p:nth-child(2) {
  font-weight: 700;
  padding-bottom: 5px;
}

.plan-choice > a {
  position: relative;
  left: 88px;
  text-decoration: underline;
  color: hsl(246, 24%, 42%);
  font-weight: 700;
}

.plan-choice > a:hover {
  text-decoration: none;
  color: hsl(223, 21%, 67%);
}

.submition {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35px;
}

.submition > a:first-child {
  border-radius: 8px;
  width: 85%;
  padding: 12px;
  background-color: #392adf;
  color: hsl(255, 100%, 100%);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 12px 20px hsl(225, 100%, 86%);
}

.submition > a:first-child:hover {
  background-color: rgb(30, 30, 204, 0.6);
}

.submition > a:last-child {
  margin-top: 20px;
  color: hsl(222, 24%, 38%);
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 30px;
}

.submition > a:last-child:hover {
  color: hsl(222, 25%, 13%);
}
